.mr-auto{
    margin-left: 400px;
}
.navbar {
    background-color: #343a40;
    padding: 10px 0; 
  }

  .navbar-nav {
    width: 100%;
    justify-content: center;
  }

  .nav-link {
    color: #fff !important;
    margin: 0 15px;
    font-weight: bold; 
    font-size: 16px; 
  }

  .nav-link:hover {
    color: #ffc107 !important;
  }


  .ml-auto {
    margin-left: 250px;
  }

  .navbar .btn-outline-light {
    border-color: #ffc107; 
    color: #ffc107; 
    transition: background-color 0.3s;
  }

  .navbar .btn-outline-light:hover {
    background-color: #ffc107;
  }


  .cart-name, .cart-count {
    color: #fff; 
  }

  .cart-count {
    background-color: #ffc107;
    color: #343a40; 
    padding: 2px 8px; 
    border-radius: 50%;
    margin-left: 5px;
  }

  .navbar-brand {
    color: transparent;
  }
